html, body {
  height: 100%;
  width: 100%;
}

table, th, td {
  border: 2px solid red;
  border-collapse: collapse;
}

table {
  width: 80%;
}

th, td {
  height: 50px;
}

.rowHover:hover {
  background-color: #cd848f;
}